<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>じゃんけんゲーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='janken.css') }}">
</head>

<body>
    <main>
        <h1>じゃんけんゲーム</h1>
        <form action="/janken/play" method="POST">
            <p class="name_input">
                <label for="your_name">名前: </label>
                <input type="text" id="your_name" name="name">
            </p>
            <div id="normal">
                <fieldset id="janken_hand">
                    <input type="radio" id="hand_rock" value="rock" name="hand">
                    <label for="hand_rock">
                        <img src="{{ url_for('static', filename='janken_gu.png') }}" alt="Rock" width="150">
                    </label>
                    <input type="radio" id="hand_scissor" value="scissor" name="hand">
                    <label for="hand_scissor">
                        <img src="{{ url_for('static', filename='janken_choki.png') }}" alt="Scissor" width="150">
                    </label>
                    <input type="radio" id="hand_paper" value="paper" name="hand">
                    <label for="hand_paper">
                        <img src="{{ url_for('static', filename='janken_pa.png') }}" alt="Paper" width="150">
                    </label>
            </div>

            <input type="radio" id="hand_saikyou" value="saikyou" name="hand">
            <label for="hand_saikyou" id="special">
                <img src="{{ url_for('static', filename='saikyou.png') }}" alt="Paper" width="150">
            </label>
            </fieldset>
            <button type="submit">じゃんけん</button>
        </form>
    </main>
</body>

<script text="javascript">
    const key = [0, 2, 1, 0, 0];
    let i = 0;

    window.addEventListener('click', (e) => {
        const w_h = window.innerHeight;
        if (i < key.length && Math.floor(e.y / (w_h / 3)) == key[i]) {
            i++;
            if (i == key.length) {
                document.getElementById('normal').style.display = 'none';
                document.getElementById('special').style.display = 'block';
            }
        } else {
            i = 0;
        }
    });
</script>

</html>